.home-2{
    padding-top: 50px;
    padding-left: 57px;
    padding-right: 57px;
    margin-top: 115px;
    height: 100vh;
    background-color: #FFFFFF;
}

.home-2_title h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.060em;

    color: #000000;
}

.home-2_title {
    margin-left: 180px;
}

.home-2_description{
    margin-top: 45px;
    margin-bottom: 50px;
    margin-left: 57px;
    margin-right: 57px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.home-2_desc-1{
    width: 418px;
    height: 250px;
    background-image: url(/public/assets/images/home-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 31px;
    
}

.home-2_desc-2{
    width: 446px;
    height: 250px;
    background-image: url(/public/assets/images/home-2-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 16px;
    left: 432px;
}

.home-2_desc-3{
    width: 436px;
    height: 352px;
    background-image: url(/public/assets/images/home-2-1-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 26px;
    left: 866px;
    z-index: 100;
}

.home-2_desc-4{
    width: 436px;
    height: 250px;
    background-image: url(/public/assets/images/home-2-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 250px;
    left: 205px;
}

.home-2_desc-5{
    width: 436px;
    height: 250px;
    background-image: url(/public/assets/images/home-2-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 250px;
    left: 636px;
}



.home-2_desc-1 .card{
    /* background-color: blue; */
    position: absolute;
    top: 50px;
    left: 75px;
    width: 300px;
    height: 150px;
}

.home-2_desc-2 .card{
    /* background-color: green; */
    position: absolute;
    top: 52px;
    left: 37px;
    width: 322px;
    height: 123px;
}

.home-2_desc-3 .card{
    /* background-color: rgb(255, 187, 0); */
    position: absolute;
    top: 88px;
    left: 38px;
    width: 381px;
    height: 202px;
}

.home-2_desc-4 .card{
    /* background-color: blue; */
    position: absolute;
    top: 64px;
    left: 75px;
    width: 300px;
    height: 150px;
}

.home-2_desc-5 .card{
    /* background-color: blue; */
    position: absolute;
    top: 64px;
    left: 75px;
    width: 300px;
    height: 150px;
}

.subtitle-desc{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.subtitle-desc p{
    width: 266px;
    height: 52px;
}

.subtitle-desc h2{
    color: #14B2E3;
}


.home-2_desc-1 .subtitle-desc{
    margin-top: 30px;
}

.home-2_desc-2 .subtitle-desc{
    margin-top: 30px;
}

.home-2_desc-3 .subtitle-desc{
    margin-top: 60px;
}

.home-2_desc-4 .subtitle-desc{
    margin-top: 30px;
}

.home-2_desc-5 .subtitle-desc{
    margin-top: 30px;
}